table.tablero-juego {
    border: solid 1px black;
    border-collapse: collapse;
}

table.tablero-juego td {
    border: solid 1px grey;
    width: 1.25em;
    height: 1.25em;
    padding: 0.25em;
    text-align: center;
    vertical-align: center;
}

table.tablero-juego td.par { background: hsl(55, 50%, 95%); }
table.tablero-juego td.impar { background: hsl(55, 40%, 90%); }
table.tablero-juego td.agua.par { background: #BDE8F1; }
table.tablero-juego td.agua.impar { background: #99D9E9; }
table.tablero-juego td.barco { background: #FFCA00; }
